{% extends 'base.html' %}
{% block title_block %} Profile {% endblock %}
{% block body_block %}
<style>
  h2 {color:white;margin-left:40%;}
  p {color: white}
  img {margin-left:43%;}
  btn {margin-left:43%;}
  p {margin-left:41%;}
</style>

<h2>Your Profile</h2>

{% if user.user_profile %}
<img src='/media/{{user.user_profile.profile_pic}}' class="rounded-circle" width="100px">
<br>
<br>
<a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm"style="margin-left:41%">Change Profile Picture</a>
{% else %}
<img src='/media/profile_pics/rakib.png' class="rounded-circle" width="100px">
<br>
<br>
<a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
{% endif %}
<br>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Name: {{user.first_name }} {{ user.last_name }}</p>
<br>
<a href="{% url 'App_Login:user_change' %}" class="btn btn-warning btn-sm" style="margin-left:41%;  margin-bottom:62px;">Change Profile Information</a>

{% endblock %}
